*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent; /*This will remove that annoying default blue click effect*/
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.5; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  scroll-behavior: smooth;
}

/*
Sections
========
*/
body {
  margin: 0; /* Remove the margin in all browsers. */
  min-height: 100vh;
}

img, picture, video, svg {
  display: block;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

li {
  list-style-type: decimal-leading-zero; /* Add leading zeros to ordered list numbers */
}

button {
  cursor: pointer;
  border: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

/*Remove animation for those who have disabled animation in their browsers*/
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  font-size: 10px;
}

:root body.light {
  --pri-clr: hsl(163, 72%, 41%);
  --sec-clr: hsl(356, 69%, 56%);
  --accent-clr: hsl(225, 100%, 98%);
  --pri-bg: hsl(0, 0%, 100%);
  --sec-bg: hsl(227, 47%, 96%);
  --text-pri: hsl(230, 17%, 14%);
  --text-sec: hsl(228, 12%, 44%);
  --toggle: hsl(230, 22%, 74%);
  --box-hover: hsl(227, 47%, 92%);
}
:root body.dark {
  --pri-clr: hsl(163, 72%, 41%);
  --sec-clr: hsl(356, 69%, 56%);
  --accent-clr: hsl(232, 19%, 15%);
  --pri-bg: hsl(230, 17%, 14%);
  --sec-bg: hsl(228, 28%, 20%);
  --text-pri: hsl(0, 0%, 100%);
  --text-sec: hsl(228, 34%, 66%);
  --toggle: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  --box-hover: hsl(228, 28%, 23%);
}

/*Light Theme*/
/* Dark Theme */
.sec-container {
  padding-inline: 5%;
  padding-block: 2rem;
}

body {
  display: relative;
  background-color: var(--pri-bg);
  font-family: "Inter", sans-serif;
}

.bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 25rem;
  background-color: var(--accent-clr);
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  z-index: -1;
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  background-color: transparent;
}
header .header-left .main-title {
  font-size: clamp(2rem, 2.2vw, 2.5rem);
  color: var(--text-pri);
}
header .header-left p {
  font-size: clamp(1.4rem, 1.6vw, 1.8rem);
  color: var(--text-sec);
  font-weight: 600;
}
header .line {
  display: block;
  background-color: var(--text-sec);
  width: 100%;
  height: 1px;
  margin-block: 2rem;
}
header .header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
header .header-right span {
  display: block;
  font-size: clamp(1.6rem, 1.8vw, 2rem);
  color: var(--text-sec);
  font-weight: 600;
}
header .header-right .switch {
  font-size: 1.6rem;
  position: relative;
  display: inline-block;
  width: 3em;
  height: 1.6em;
}
header .header-right .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
header .header-right .switch input:checked + .slider:before {
  transform: translateX(1.5em);
  border: 3px solid hsl(146, 68%, 55%);
}
@media (min-width: 960px) {
  header .header-right .switch input:checked + .slider:before {
    transform: translateX(1.3em);
  }
}
@media (min-width: 1200px) {
  header .header-right .switch input:checked + .slider:before {
    transform: translateX(1.2em);
  }
}
header .header-right .switch .slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  border-radius: 50px;
  overflow: hidden;
  background: var(--toggle);
}
header .header-right .switch .slider::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
  background-color: var(--pri-bg);
  border: 3px solid var(--toggle);
  border-radius: 50%;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
@media (min-width: 720px) {
  header {
    flex-direction: row;
    align-items: center;
  }
  header .header-left {
    width: 100%;
  }
  header .header-right {
    width: 50%;
    justify-content: right;
    gap: 1rem;
  }
  header .line {
    display: none;
  }
}

.sec-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}
.sec-1 .box-1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--sec-bg);
  width: min(30rem, 100%);
  flex: 1 1 30rem;
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 3em;
  cursor: pointer;
  transition: background-color 0.1s;
}
.sec-1 .box-1:hover {
  background-color: var(--box-hover);
}
.sec-1 .box-1:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0.5em;
}
.sec-1 .box-1:nth-child(1)::before {
  background-color: hsl(208, 92%, 53%);
}
.sec-1 .box-1:nth-child(2)::before {
  background-color: hsl(203, 89%, 53%);
}
.sec-1 .box-1:nth-child(3)::before {
  background-image: linear gradient(to);
  background: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
}
.sec-1 .box-1:nth-child(4)::before {
  background-color: hsl(348, 97%, 39%);
}
.sec-1 .box-1 .id {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.sec-1 .box-1 .id img {
  width: 2.5em;
}
.sec-1 .box-1 .id span {
  font-size: clamp(1.2rem, 1.4vw, 1.6rem);
  font-weight: 600;
  color: var(--text-sec);
}
.sec-1 .box-1 .count {
  font-size: clamp(4.2rem, 4.5vw, 5.5rem);
  color: var(--text-pri);
  line-height: 1.1;
  margin-top: 2rem;
}
.sec-1 .box-1 .name {
  color: var(--text-sec);
  font-size: clamp(1.2rem, 1.4vw, 1.6rem);
  font-weight: 300;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.sec-1 .box-1 .change {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: clamp(1.2rem, 1.4vw, 1.6rem);
  font-weight: 600;
  color: var(--pri-clr);
}
.sec-1 .box-1 .change img {
  width: 0.8em;
}
.sec-1 .box-1:nth-child(4) .change {
  color: hsl(348, 97%, 39%);
}

.sec-2 {
  margin-top: 5rem;
}
.sec-2 h3 {
  font-size: clamp(2rem, 2.2vw, 2.5rem);
  color: var(--text-sec);
  font-weight: 700;
  margin-block: 2rem;
}
.sec-2 .sec-2-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}
.sec-2 .sec-2-container .box-2 {
  background-color: var(--sec-bg);
  width: min(30rem, 100%);
  flex: 1 1 30rem;
  border-radius: 0.5rem;
  padding: 2em;
  cursor: pointer;
  transition: background-color 0.1s;
}
.sec-2 .sec-2-container .box-2:hover {
  background-color: var(--box-hover);
}
.sec-2 .sec-2-container .box-2 .box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.sec-2 .sec-2-container .box-2 .box-top span {
  font-size: clamp(1.2rem, 1.4vw, 1.6rem);
  font-weight: 700;
  color: var(--text-sec);
}
.sec-2 .sec-2-container .box-2 .box-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 2rem;
}
.sec-2 .sec-2-container .box-2 .box-bottom h2 {
  font-size: clamp(2.4rem, 2.7vw, 3.2rem);
  color: var(--text-pri);
}
.sec-2 .sec-2-container .box-2 .box-bottom div {
  display: flex;
  gap: 0.4em;
}
.sec-2 .sec-2-container .box-2 .box-bottom div img[alt="upward arrow icon"] + span {
  color: var(--pri-clr);
}
.sec-2 .sec-2-container .box-2 .box-bottom div img[alt="downward arrow icon"] + span {
  color: hsl(348, 97%, 39%);
}
.sec-2 .sec-2-container .box-2 .box-bottom div span {
  font-size: clamp(1.2rem, 1.4vw, 1.6rem);
  font-weight: 700;
}/*# sourceMappingURL=main.css.map */